{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
{% endblock %}

{% block content %}
<div class="header-row">
    <h1>Users List</h1>
    <button class="btn-add" onclick="window.location.href='{{ url_for('admin.add_user') }}'">+</button>
</div>

<input type="text" id="searchInput" placeholder="Search by username, Is_admin, Limit, or license plate..." onkeyup="searchTable()">


<table class="ons-table" id="usersTable">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>
                Is Admin
                <select id="adminFilter" onchange="filterByAdminStatus()">
                    <option value="all">All</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </th>
            <th>Limit</th>
            <th>License Plates</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr id="user-row-{{ user['_id'] }}">
                <td>{{ user['username'] }}</td>
                <td>
                    {% if user['password'] %}
                    *********
                    {% else %}
                    No Password (Login via Line)
                    {% endif %}
                </td>
                <td>{{ 'Yes' if user['is_admin'] else 'No' }}</td>
                <td>{{ user['limit'] }}</td>
                <td>
                    {% if user['license_plates'] %}
                        {{ user['license_plates']|join(', ') }}
                    {% else %}
                        No License Plates
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('admin.edit_user', user_id=user['_id']) }}" class="btn-edit-user">Edit</a>
                    <button class="btn-delete" onclick="deleteUser('{{ user['_id'] }}')">Delete</button>
                </td>                    
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/search_table.js') }}"></script>
{% endblock %}
