<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Barrier App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    {% block css %}{% endblock %}
</head>

<body>
    <!-- Navigation Bar -->
    <nav id="navbar" class="navbar">
        {% if current_user.is_authenticated %}
        <div class="nav-left user-info">
            {% if current_user.pic %}
            <img src="{{ current_user.pic }}" alt="Profile Picture" class="profile-pic">
            {% endif %}
            <span class="username">{{ current_user.username }}</span>
            <span class="limit">, Limit: {{ current_user.limit }}</span>
        </div>
        <div class="nav-right nav-links">
            {% if current_user.is_admin %}
            <a href="{{ url_for('admin.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('admin.history') }}">History</a>
            {% endif %}
            <a href="{{ url_for('home.index') }}">Home</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
        {% else %}
        <div class="nav-left"></div>
        <div class="nav-right nav-links">
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Register</a>
        </div>
        {% endif %}
    </nav>

    <!-- Main Content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% block js %}{% endblock %}
</body>

</html>
