{% extends "base.html" %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h2>Edit Your Information</h2>
    <form action="{{ url_for('home.edit_user') }}" method="POST">
        {{ form.hidden_tag() }} <!-- CSRF Token -->

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Leave blank if you don't want to change the password" />
        </div>

        <div>
            <label for="parking_status">Parking Status:</label>
            <input type="text" id="parking_status" name="parking_status" value="{{ user.parking_status }}" />
        </div>

        <div>
            <label for="license_plate">License Plate:</label>
            <input type="text" id="license_plate" name="license_plate" value="{{ user.license_plate }}" />
        </div>

        <button type="submit">Save Changes</button>
    </form>

    <a href="{{ url_for('home.index') }}">Cancel</a>
{% endblock %}
