{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome, {{ user.username }}</h2>
    <p>Your parking status: {{ 'Parked' if user['parking_status'] else 'Free' }}</p>
    
    
    <p>Your license plates:</p>
    {% if license_plates %}
        <ul>
            {% for plate in license_plates %}
                <li>{{ plate }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No license plates found.</p>
    {% endif %}
    
    <!-- Edit button -->
    <a href="{{ url_for('home.edit_user') }}">
        <button>Edit</button>
    </a>
{% endblock %}