{% extends "base.html" %}

{% block title %}Login - Flask Parking System{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
{% endblock %}

{% block content %}
<!-- Display flash messages if any -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul>
        {% for category, message in messages %}
            <li class="alert {{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

    <h2>Login</h2>
    
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }} <!-- CSRF Token -->

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required minlength="4" maxlength="15">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required minlength="6" maxlength="20">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <hr>

    <div class="center">
        <a class="line-btn" href="{{ url_for('line_auth.login') }}">Login via Line</a>
    </div>    

    <hr>

    <!-- <div class="email-consent">
        <h3>This app requests access to your email address</h3>
        <ul>
            <li>Your email will be used for account verification, notifications, and personalization.</li>
            <li>We will never share your email without your consent.</li>
        </ul>
        <p>By continuing, you agree to our 
            <a href="/terms-of-service" target="_blank">Terms of Service</a> and 
            <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
        </p>
        <button type="button" class="consent-button">Continue</button>
    </div> -->
{% endblock %}
